li{
    list-style-position:inside;
}


footer {
    color: brown;
    font-size: 43;
}

h1{
    color: blue;

}

h3 {
    color: blueviolet;

}

p {
    color: chocolate;
}

#pagename {
    color: crimson;
}